<div class="centered-content">
  <div class="container">
    <div class="sidebar">
      <div class="container-lists">
        <h1 class="title has-text-primary">{{ listsTitle }}</h1>
        <div class="list-menu">
          <a *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active"
            (click)="loadData(list._id)">{{ list.title }}</a>
        </div>
      </div>
      <button class="button is-primary has-text-white" (click)="open('newList')">
        {{ addListButton }}
      </button>
    </div>
    <div class="container-tasks has-background-light">
      <div class="container-task-option">
        <div class="container-task-option-list">
          <h1 class="title has-text-primary">{{ tasksTitle }}</h1>
          <div class="option-list">
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="option-list">
                  <div class="icon">
                    <i class="fas fa-cog"></i>
                  </div>
                </button>
              </div>
              <div class="dropdown-menu" id="option-list" role="menu">
                <div class="dropdown-content">
                  <a (click)="open('editList')" class="dropdown-item">
                    {{editText}}
                  </a>
                  <a (click)="deleteList(listIdActive)" class="dropdown-item has-text-danger">
                    {{deleteText}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 *ngIf="!tasks">{{ noListSelectedText }}</h3>
        <div class="task-menu">
          <h3 *ngIf="tasks && tasks.length === 0">{{ noTaskText }}</h3>
          <div *ngFor="let task of tasks" class="task" (click)="isCompleted(task)"
            [ngClass]="{ completed: task.completed }">
            <p>{{ task.title }}</p>
            <div class="options-task">
              <button class="button" (click)="open('editTask', task._id)">
                <div class="icon">
                  <i class="fas fa-edit"></i>
                </div>
              </button>
              <button class="button is-danger" (click)="deleteTask(task._id)">
                <div class="icon">
                  <i class="fas fa-trash"></i>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="add-task" *ngIf="listIdActive !== ''">
        <button class="button is-primary" (click)="open('newTask', listIdActive)">
          <div class="icon">
            <i class="fas fa-plus"></i>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
<app-modal-options [option]="optionActive" [listId]="listIdActive" [taskId]="taskIdSelected" (res)="loadData($event)">
</app-modal-options>
