<div class="centered-content">
  <div class="container-box">
    <h1 class="title has-text-primary">{{title}}</h1>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #emailInput class="input has-background-light" type="email" [placeholder]="emailPlaceholder">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #passwordInput class="input has-background-light" type="password" [placeholder]="passwordPlaceholder">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field button-field">
      <p class="control">
        <button class="button is-success has-text-white" (click)="loginSignup(emailInput.value, passwordInput.value)">
          {{buttonText}}
        </button>
      </p>
    </div>
    <p class="has-text-grey"><span>{{beforeLinkText}}</span><a routerLink="/{{link}}">{{linkText}}</a><span>{{afterLinkText}}</span></p>
  </div>
</div>
